@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Anaheim|Arvo';
/* Silver Linings */

h1 {
	text-align: center;	
	font-family: "Anaheim", "DejaVu Serif", "Verdana", sans-serif;
}
h2 {
	text-align: center;
	font-family: "Anaheim", "DejaVu Serif", "Verdana", sans-serif;
}

#button {
	text-align: center;
	font-family: "Arvo", "DejaVu Sans", "Arial", sans-serif;	
}
p {
	text-align: center;
	font-family: "Arvo", "DejaVu Sans", "Verdana", sans-serif;
}
#cloud {
	text-align:center;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* http://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
#cv {
	text-align:center;
	display:inline;
	border:2px solid #000000;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
canvas {
	text-align:center;
	display:inline;
}
